<div class="company-wrapper" id="company">
  <div class="wrapper">
    <h2>The Company</h2>
    <div class="company-component-wrapper">
      <div class="company-component-icon">
        <div class="icon-wrapper">
          <span class="fa fa-bullseye"></span>
        </div>
        <h4 class="company-component-title">Mission</h4>
        <p>{{ site.mission }}</p>
      </div>
    </div>
    <div class="company-component-wrapper">
      <div class="company-component-icon">
        <div class="icon-wrapper">
          <span class="fa fa-forward"></span>
        </div>
        <h4 class="company-component-title">Vision</h4>
        <p>{{ site.vision }}</p>
      </div>
    </div>
    <div class="company-component-wrapper">
      <div class="company-component-icon">
        <div class="icon-wrapper">
          <span class="fa fa-home"></span>
        </div>
        <h4 class="company-component-title">Values</h4>
        <p>{{ site.values }}</p>
      </div>
    </div>
  </div>
</div>
