<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3 class="footer-header">Sobre Nós</h3>
        ZeroBeta aims to bring together innovation, science, computing and investing. Our
        decision-making robots combine the state-of-the-art in computational and mathematical
        modeling with techniques of portfolio optimization, hedging e risk management, bringing
        your investments into the 21st century. Our solutions seek to provide an income flow
        with acceptable risks without the need of constant monitoring.
        <!--A ZeroBeta busca aliar inovação, ciência, computação e investimentos.
        Os robôs de decisão que desenvolvemos aliam o estado da arte em modelagem
        computacional e matemática com técnicas de otimização de portfólio, hedging e
        gestão de risco levando seus investimentos para o século XXI. O propósito de nossas
        soluções é proporcionar renda com riscos aceitáveis sem a necessidade de constante
        monitoramento do mercado por operadores.-->
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <h3 class="footer-header">Contato</h3>
        <p>{{ site.contact_text }}</p>
        <p>
          <ul>
            <li><i class='fa fa-home'></i>{{ site.address }}</li>
            <li><i class='fa fa-phone'></i>{{ site.telephone }}</li>
            <li><i class='fa fa-envelope'></i>{{ site.email }}</li>
          </ul>
        </p>
      </div>
    </div>

  <div class="copyright">
    <div class="float-left">&copy; ZeroBeta</div>
    <div class="float-right">
      <a href="https://github.com/{{ site.github_username }}" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="https://facebook.com/{{ site.facebook }}" target="_blank">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  </div>

</footer>
