<div class="team-wrapper" id="team">
  {% assign sorted_members = (site.data.team_members | sort: 'name') %}
  <div class="wrapper">
    <h2>Nosso time</h2>
    {% for member in sorted_members %}
      <div class="team-member-wrapper">
        <img class="team-member-photo" src="{{ member.picture | prepend: site.base_imgpath_team }}" />
        <h4 class="team-member-name">{{ member.name }}</h4>
        <p>{{member.short_description}}</p>
        <p>
          <a href="https://github.com/{{ member.github }}" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          <a href="https://linkedin.com/in/{{ member.linkedin }}" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </p>
      </div>
    {% endfor %}
  </div>
</div>
