<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!--<div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>-->

    <div class="block-wrapper">
      {% include company_block.html %}
    </div>
    <div class="block-wrapper">
    {% include partners_opensource.html %}
    </div>
    <div class="block-wrapper">
    {% include solutions.html %}
    </div>
    <div class="block-wrapper">
    {% include team.html %}
    </div>
    <div class="block-wrapper">
    {% include footer.html %}
    </div>
  </body>

</html>
